{% extends "base.html" %} 
{% load i18n %} 
{% load account socialaccount %} 
{% load static %} 
{% block head_title %}
{% trans "Account Inactive" %}
{% endblock %} 
{% block content %}
<main class="mt-5 pt-4">
  <div class="container">
    <!--Section: Products v.3-->
    <section class="mb-4">
      <div class="row wow fadeIn">
        <div class="col-6 offset-3">
          <h1>{% trans "Account Inactive" %}</h1>

          <p>{% trans "This account is inactive. Sorry about that :(" %}</p>
        </div>
      </div>
    </section>
  </div>
</main>

{% endblock %}
