{% extends "account/base.html" %} 
{% load i18n %} 
{% load account socialaccount %} 
{% load static %} 
{% load account %} 
{% block head_title %}
{% trans "Password Reset" %}
{% endblock %} 
{% block content %}

<main class="mt-5 pt-4">
  <div class="container">
    <!--Section: Products v.3-->
    <section class="mb-4">
      <div class="row wow fadeIn">
        <div class="col-6 offset-3">
          <h1>{% trans "Password Reset" %}</h1>

          {% if user.is_authenticated %} {% include
          "account/snippets/already_logged_in.html" %} {% endif %}

          <p>
            {% blocktrans %}We have sent you an e-mail. Please contact us if you
            do not receive it within a few minutes.{% endblocktrans %}
          </p>
        </div>
      </div>
    </section>
  </div>
</main>
{% endblock %}
