{% extends "base.html" %} 
{% load i18n %} 
{% load account socialaccount %} 
{% load static %} 
{% block head_title %}
{% trans "Verify Your E-mail Address" %}
{% endblock %} 
{% block content %}

<main class="mt-5 pt-4">
  <div class="container">
    <!--Section: Products v.3-->
    <section class="mb-4">
      <div class="row wow fadeIn">
        <div class="col-6 offset-3">
          <h1>{% trans "Verify Your E-mail Address" %}</h1>

          <p>
            {% blocktrans %}We have sent an e-mail to you for verification.
            Follow the link provided to finalize the signup process. Please
            contact us if you do not receive it within a few minutes.{% endblocktrans %}
          </p>
        </div>
      </div>
    </section>
  </div>
</main>
{% endblock %}
