<!--Footer-->
<footer class="bg-dark page-footer text-center font-large mt-5 wow fadeIn">
  <!--Call to action-->
  <div class="pt-4">
    <a
      class="btn btn-outline-white"
      href="/about-us"
      role="button"
      >About Us
      <i class="fas fa-newspaper ml-2"></i>
    </a>
    <a
      class="btn btn-outline-white"
      href="/contact-us"
      role="button"
      >Contact Us
      <i class="fas fa-building ml-2"></i>
    </a>
    <a
      class="btn btn-outline-white"
      href="/request-refund"
      role="button"
      >Request for a Refund
      <i class="fas fa-building ml-2"></i>
    </a>
  </div>
  <!--/.Call to action-->

  <hr class="my-4" />

  <!-- Social icons -->
  <div class="pt-4">

    <a class="btn btn-outline-white"

    href="https://github.com/EzekielCarvalho"
    target="_blank"
  >
  <i class="fab fa-github-alt fa-2x"></i>
</a>

    <a class="btn btn-outline-white"

    href="https://www.facebook.com/EzekielCarvalho/" target="_blank">
      <i class="fab fa-facebook-square fa-2x"></i>
    </a>

    <a class="btn btn-outline-white"

    href="https://carvalhosolutions.com/" target="_blank">
      <i class="fas fa-globe-europe fa-2x"></i>
    </a>

   
    <a class="btn btn-outline-white"

      href="https://www.linkedin.com/in/ezekiel-carvalho-0b6138198/"
      target="_blank"
    >
    <i class="fab fa-linkedin fa-2x"></i>
    </a>

    <a class="btn btn-outline-white"

      href="https://twitter.com/EzekielCarvalho"
      target="_blank"
    >
    <i class="fab fa-twitter-square fa-2x"></i>
    </a>

    <a class="btn btn-outline-white"

      href="https://instagram.com/ezekiel_carvalho/"
      target="_blank"
    >
    <i class="fab fa-instagram fa-2x"></i>
    </a>

  </div>
  <!-- Social icons -->

  <!--Copyright-->
  <div class="footer-copyright py-3">
       <p class="copyright">&copy; A project by Ezekiel of <a href="https://carvalhosolutions.com">Carvalho Solutions</a>, hosted by <a href="https://www.heroku.com/">Heroku</p>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->
